<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hansi - We create adhesive power</title>

  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./styles.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <script type="text/javascript" src="./scripts.js"></script>
</head>
<body>
  <section class="section-spaced">
    <div class="container">
      <!-- 
        MARK: HOME - APPLICATION
      -->
      <span class="section-info">Who we are</span>
      <h2 class="title">Applications</h2>

      <ul class="tabs">
        <li class="tabs-item" data-active="true" data-tab-item="1" onclick="changeTabs('1')">
          Automotive
        </li>
        <li class="tabs-item" data-active="false" data-tab-item="2" onclick="changeTabs('2')">
          Construction
        </li>
        <li class="tabs-item">
          Eletronic
        </li>
        <li class="tabs-item">
          Marine
        </li>
        <li class="tabs-item">
          Rail / Train
        </li>
        <li class="tabs-item">
          Filter
        </li>
      </ul>

      <div class="tabs-container" data-active="true" data-tab-container="1">
        <div class="tabs-container-main">
          <div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="tabs-container-box is-single-element">
              <div>
                <strong>Properties</strong>
                <ul>
                  <li>Fixtures</li>
                  <li>Drivers Cabin</li>
                  <li>Floor Coverings</li>
                  <li>Doors</li>
                </ul>
              </div>
            </div>
          </div>
          <figure>
            <img src="./assets/images/technologies-image.png" alt="">
          </figure>
        </div>
      </div>

      <div class="tabs-container" data-active="false" data-tab-container="2">
        <div class="tabs-container-main">
          <div>
            <p>On Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="tabs-container-box is-single-element">
              <div>
                <strong>Properties</strong>
                <ul>
                  <li>Fixtures</li>
                  <li>Drivers Cabin</li>
                  <li>Floor Coverings</li>
                  <li>Doors</li>
                </ul>
              </div>
            </div>
          </div>
          <figure>
            <img src="./assets/images/technologies-image.png" alt="">
          </figure>
        </div>
      </div>

      

      <h2 class="title">Application</h2>
      <div class="card-container">
        <div class="card-link is-application">
          <img aria-hidden="true" class="card-link-image" src="./assets/images/application-1.png" />
          <div class="card-link-content">
            <h3>Automotive</h3>
            <ul>
              <li>Fixtures</li>
              <li>Drivers Cabin</li>
              <li>Floor Coverings</li>
              <li>Doors</li>
            </ul>
            <a href="#">View more</a>
          </div>
        </div>
        <div class="card-link is-application">
          <img aria-hidden="true" class="card-link-image" src="./assets/images/application-2.png" />
          <div class="card-link-content">
            <h3>Construction</h3>
            <ul>
              <li>Mounting of Components</li>
              <li>Bonding of floor coverages</li>
            </ul>
            <a href="#">View more</a>
          </div>
        </div>
        <div class="card-link is-application">
          <img aria-hidden="true" class="card-link-image" src="./assets/images/application-3.png" />
          <div class="card-link-content">
            <h3>Eletronic</h3>
            <ul>
              <li>Potting and encapsulation of sensitive components</li>
              <li>PCB board coating</li>
            </ul>
            <a href="#">View more</a>
          </div>
        </div>
        <div class="card-link is-application">
          <img aria-hidden="true" class="card-link-image" src="./assets/images/application-4.png" />
          <div class="card-link-content">
            <h3>Marine</h3>
            <ul>
              <li>Fixtures</li>
              <li>Drivers Cabin</li>
              <li>Floor Coverings</li>
              <li>Doors</li>
            </ul>
            <a href="#">View more</a>
          </div>
        </div>
        <div class="card-link is-application">
          <img aria-hidden="true" class="card-link-image" src="./assets/images/application-5.png" />
          <div class="card-link-content">
            <h3>Rail / Train</h3>
            <ul>
              <li>Fixtures</li>
              <li>Drivers Cabin</li>
              <li>Floor Coverings</li>
              <li>Doors</li>
            </ul>
            <a href="#">View more</a>
          </div>
        </div>
        <div class="card-link is-application">
          <img aria-hidden="true" class="card-link-image" src="./assets/images/application-6.png" />
          <div class="card-link-content">
            <h3>Filter</h3>
            <ul>
              <li>Bonding and sealing of filters and filter elements</li>
            </ul>
            <a href="#">View more</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 
    MARK: FOOTER 
  -->
  <footer>
    <div class="container">
      <h2>HANSI Development Center Germany GmbH</h2>
      <address>
        Donnersbergweg 1<br/>
        67059 Ludwigshafen
      </address>
      <span>+49 (0)621 5957 6478</span>
      <a href="mailto:info@de-hansi.eu">info@de-hansi.eu</a>
      <div class="footer-social">
        <a href="#" target="_blank">
          <img src="./assets/icons/linkedin.svg" />
        </a>
        <a href="#" target="_blank">
          <img src="./assets/icons/instagram.svg" />
        </a>
      </div>
      <div class="footer-documents">
        <a href="#" target="_blank">Impressum</a>
        <a href="#" target="_blank">Privacy police</a>
      </div>
    </div>
  </footer>
</body>
</html>