<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hansi - We create adhesive power</title>

  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./styles.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <script type="text/javascript" src="./scripts.js"></script>
</head>
<body>
  <section class="section-spaced">
    <div class="container">
      <!-- 
        MARK: COMPANY - WHO WE ARE
      -->
      <span class="section-info">Who we are</span>
      <h2 class="title">Specializing in Crafting Powerful Adhesive Solutions</h2>

      <div class="flex-content">
        <p class="text">
          We are a tight-knit, international team of skilled engineers and chemists based in Germany, with extensive experience in the realm of industrial adhesives.
          <br /><br />
          At our core, we embody the advantages of a small yet dynamic company: agile, adaptable, and always ready to meet our clients' needs. Despite our modest size, we are deeply interconnected within a global network, allowing us to offer a breadth of expertise and resources.
          <br /><br />
          Quality is the cornerstone of our operations. We are committed to delivering products and services of the highest standards, consistently exceeding expectations.
          <br /><br />
          Education and training are integral to our ethos. We believe in continuous learning and development, ensuring that our team remains at the forefront of industry advancements.
          <br /><br />
          As a trusted development partner, both internally and externally, we collaborate closely with our clients to innovate and create solutions that drive success.
          Join us as we pave the way forward in the world of industrial adhesives.
        </p>
        <figure>
          <img src="./assets/images/flex-content-1.png" />
        </figure>
      </div>
    </div>
  </section>

  <section class="section-spaced">
    <div class="timeline-container">
      <div class="timeline-content-text">
        <div class="timeline-text">
          <span class="section-info">Our journey</span>
          <h2 class="title">We shape history with our expertise</h2>
          <p class="text">Since its creation, Hansi has been expanding and creating high-quality technology and development.</p>
        </div>

        <figure>
          <img src="./assets/images/timeline.png" />
        </figure>
      </div>
      <div class="timeline-content-timeline">
        <ul class="timeline">
          <li class="timeline-item">
            <strong>2002</strong>
            <span class="text">Company Startup</span>
          </li>
          <li class="timeline-item">
            <strong>2002</strong>
            <span class="text">Company Startup</span>
          </li>
          <li class="timeline-item">
            <strong>2002</strong>
            <span class="text">Company Startup</span>
          </li>
          <li class="timeline-item">
            <strong>2002</strong>
            <span class="text">Company Startup</span>
          </li>
          <li class="timeline-item">
            <strong>2002</strong>
            <span class="text">Company Startup</span>
          </li>
          <li class="timeline-item">
            <strong>2002</strong>
            <span class="text">Company Startup</span>
          </li>
          <li class="timeline-item">
            <strong>2002</strong>
            <span class="text">Company Startup</span>
          </li>
          <li class="timeline-item">
            <strong>2002</strong>
            <span class="text">Company Startup</span>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section-spaced">
    <div class="container">
      <!-- 
        MARK: COMPANY - TECHNOLOGY
      -->
      <span class="section-info">Technology</span>
      <h2 class="title">Laboratory</h2>

      <div class="flex-content">
        <p class="text">
          In our laboratory, a strong application technology is combined with the product development of high-quality adhesives and sealants. All of it tailored to the customer’s needs. At our location in the Ludwigshafen Technology Center, we have a fully equipped and modern chemical and physical adhesive laboratory.
          <br /><br />
          Our top priority is to satisfy you as our customer. We strive for the best customer’s solution. In close cooperation with our customers, we find fast and solid solutions. In doing so, we never lose sight of practicality and cost-effectiveness. We will not leave you alone with your challenges.
          <br /><br />
          We are happy to help with: <br />
          - the appropriate choice of a HANSI adhesive for your application<br />
          - technical questions about HANSI adhesives<br />
          - technical questions related to the processing of HANSI adhesives<br />
          <br /><br />
          Our engineers and chemists offer you competent advice, whether on site or on the phone. In addition, we can offer you testing of HANSI adhesives on a wide variety of substrates. Also, we support you with adhesive samples. Flexibility is a top priority at HANSI.
          <br /><br />
          If there is no solution yet, we are looking for a way to help you.
          <br /><br />
          Try it and contact us.
        </p>
        <figure>
          <img src="./assets/images/flex-content-2.png" />
        </figure>
      </div>
    </div>
  </section>

  <!-- 
    MARK: FOOTER 
  -->
  <footer>
    <div class="container">
      <h2>HANSI Development Center Germany GmbH</h2>
      <address>
        Donnersbergweg 1<br/>
        67059 Ludwigshafen
      </address>
      <span>+49 (0)621 5957 6478</span>
      <a href="mailto:info@de-hansi.eu">info@de-hansi.eu</a>
      <div class="footer-social">
        <a href="#" target="_blank">
          <img src="./assets/icons/linkedin.svg" />
        </a>
        <a href="#" target="_blank">
          <img src="./assets/icons/instagram.svg" />
        </a>
      </div>
      <div class="footer-documents">
        <a href="#" target="_blank">Impressum</a>
        <a href="#" target="_blank">Privacy police</a>
      </div>
    </div>
  </footer>
</body>
</html>