<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hansi - We create adhesive power</title>

  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./styles.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
  <!-- 
    MARK: HOME - TRUSTED SOLUTIONS
  -->
  <section>
    <div class="trusted-container">
      <div class="trusted-box">
        <h2 class="trusted-title">Trusted Solutions Across Industries</h2>
        <p class="trusted-text">We specialize in pioneering research and development within the realm of industrial adhesives and sealants.</p>
        <a href="#" class="button">
          Our Technologies 
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.4366 17.4366C8.22472 17.2247 8.11377 16.955 8.10376 16.6276C8.09451 16.3001 8.19583 16.0305 8.4077 15.8186L14.0706 10.1557H1.1557C0.82825 10.1557 0.55358 10.0447 0.331686 9.82285C0.110562 9.60172 0 9.32744 0 8.99999C0 8.67254 0.110562 8.39787 0.331686 8.17598C0.55358 7.95485 0.82825 7.84429 1.1557 7.84429H14.0706L8.4077 2.18137C8.19583 1.96949 8.09451 1.69983 8.10376 1.37238C8.11377 1.04493 8.22472 0.77527 8.4366 0.563392C8.64847 0.351514 8.91814 0.245575 9.24559 0.245575C9.57303 0.245575 9.8427 0.351514 10.0546 0.563392L17.6822 8.191C17.7978 8.28731 17.8798 8.4075 17.9283 8.55158C17.9761 8.69643 18 8.8459 18 8.99999C18 9.15408 17.9761 9.29854 17.9283 9.43338C17.8798 9.56821 17.7978 9.69341 17.6822 9.80898L10.0546 17.4366C9.8427 17.6485 9.57303 17.7544 9.24559 17.7544C8.91814 17.7544 8.64847 17.6485 8.4366 17.4366Z" fill="white"/>
          </svg>
        </a>
      </div>
      <figure>
        <img src="./assets/images/home-trusted-solutions.png" />
      </figure>
    </div>
  </section>

  <!-- 
    MARK: HOME - FOCUS ON INOVATION
  -->
  <section>
    <div class="focus-container">
      <figure>
        <img src="./assets/images/home-focus-on-inovation.png" />
      </figure>
      <div class="focus-box">
        <span class="section-info">Focus on innovation</span>
        <h2 class="focus-title">We create adhesive power</h2>
        <ul class="focus-list">
          <li>
            <svg width="32" height="26" viewBox="0 0 32 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.1694 20.0495L2.58329 12.4633L0 15.0284L10.1694 25.1978L32 3.36725L29.4349 0.802155L10.1694 20.0495Z" fill="#019810"/>
            </svg>        
            <span><strong>Our Mission:</strong> Collaborating with our customers to discover the ideal adhesive solutions.</span>
          </li>
          <li>
            <svg width="32" height="26" viewBox="0 0 32 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.1694 20.0495L2.58329 12.4633L0 15.0284L10.1694 25.1978L32 3.36725L29.4349 0.802155L10.1694 20.0495Z" fill="#019810"/>
            </svg>
            <span><strong>Open and Honest Approach:</strong> Maintaining transparency to deliver tailor-made and reliably functioning solutions.</span>
          </li>
          <li>
            <svg width="32" height="26" viewBox="0 0 32 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.1694 20.0495L2.58329 12.4633L0 15.0284L10.1694 25.1978L32 3.36725L29.4349 0.802155L10.1694 20.0495Z" fill="#019810"/>
            </svg>
            <span><strong>Innovative Thinking:</strong> Embracing a technology-driven approach, thinking outside the box for inventive solutions.</span>
          </li>
          <li>
            <svg width="32" height="26" viewBox="0 0 32 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.1694 20.0495L2.58329 12.4633L0 15.0284L10.1694 25.1978L32 3.36725L29.4349 0.802155L10.1694 20.0495Z" fill="#019810"/>
            </svg>
            <span><strong>Flexibility:</strong> Offering specialized solutions, even for smaller needs, with a capacity of 1 ton/year.</span>
          </li>
          <li>
            <svg width="32" height="26" viewBox="0 0 32 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.1694 20.0495L2.58329 12.4633L0 15.0284L10.1694 25.1978L32 3.36725L29.4349 0.802155L10.1694 20.0495Z" fill="#019810"/>
            </svg>
            <span><strong>Customer Support:</strong> Providing continuous assistance with adhesive technical inquiries, ensuring customer satisfaction at all times.</span>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- 
    MARK: HOME - OUR NUMBERS
  -->
  <section class="our-numbers">
    <div class="container">
      <div class="our-numbers-content">
        <span class="our-numbers-number">
          32+
        </span>
        <span class="our-numbers-info">
          Years of experience
        </span>
      </div>
      <div class="our-numbers-content">
        <span class="our-numbers-number">
          8
        </span>
        <span class="our-numbers-info">
          Countries
        </span>
      </div>
      <div class="our-numbers-content">
        <span class="our-numbers-number">
          120
        </span>
        <span class="our-numbers-info">
          Training people
        </span>
      </div>
      <div class="our-numbers-content">
        <span class="our-numbers-number">
          90
        </span>
        <span class="our-numbers-info">
          Clients
        </span>
      </div>
    </div>
  </section>

  <section class="section-spaced">
    <div class="container">
      <!-- 
        MARK: HOME - ADHESIVE SOLUTIONS
      -->
      <span class="section-info">Technologies</span>
      <h2 class="title">Adhesive Solutions</h2>
      <p class="text">Enhancing the utilization of industrial adhesives and sealants across various fields</p>
      <div class="card-container">
        <div class="card-link is-solution">
          <img aria-hidden="true" class="card-link-image" src="./assets/images/card-link.png" />
          <div class="card-link-content">
            <span>Polyurethane</span>
            <a href="#">View more</a>
          </div>
        </div>
        <div class="card-link is-solution">
          <div class="card-link-content">
            <span>Polyurethane</span>
            <a href="#">View more</a>
          </div>
        </div>
        <div class="card-link is-solution">
          <div class="card-link-content">
            <span>Polyurethane</span>
            <a href="#">View more</a>
          </div>
        </div>
        <div class="card-link is-solution">
          <div class="card-link-content">
            <span>Polyurethane</span>
            <a href="#">View more</a>
          </div>
        </div>
        <div class="card-link is-solution">
          <div class="card-link-content">
            <span>Polyurethane</span>
            <a href="#">View more</a>
          </div>
        </div>
      </div>

      <!-- 
        MARK: HOME - APPLICATION
      -->
      <h2 class="title">Application</h2>
      <div class="card-container">
        <div class="card-link is-application">
          <div class="card-link-content">
            <h3>Automotive</h3>
            <ul>
              <li>Fixtures</li>
              <li>Drivers Cabin</li>
              <li>Floor Coverings</li>
              <li>Doors</li>
            </ul>
            <a href="#">View more</a>
          </div>
        </div>
        <div class="card-link is-application">
          <div class="card-link-content">
            <h3>Automotive</h3>
            <ul>
              <li>Fixtures</li>
              <li>Drivers Cabin</li>
              <li>Floor Coverings</li>
              <li>Doors</li>
            </ul>
            <a href="#">View more</a>
          </div>
        </div>
        <div class="card-link is-application">
          <div class="card-link-content">
            <h3>Automotive</h3>
            <ul>
              <li>Fixtures</li>
              <li>Drivers Cabin</li>
              <li>Floor Coverings</li>
              <li>Doors</li>
            </ul>
            <a href="#">View more</a>
          </div>
        </div>
        <div class="card-link is-application">
          <div class="card-link-content">
            <h3>Automotive</h3>
            <ul>
              <li>Fixtures</li>
              <li>Drivers Cabin</li>
              <li>Floor Coverings</li>
              <li>Doors</li>
            </ul>
            <a href="#">View more</a>
          </div>
        </div>
        <div class="card-link is-application">
          <div class="card-link-content">
            <h3>Automotive</h3>
            <ul>
              <li>Fixtures</li>
              <li>Drivers Cabin</li>
              <li>Floor Coverings</li>
              <li>Doors</li>
            </ul>
            <a href="#">View more</a>
          </div>
        </div>
        <div class="card-link is-application">
          <div class="card-link-content">
            <h3>Automotive</h3>
            <ul>
              <li>Fixtures</li>
              <li>Drivers Cabin</li>
              <li>Floor Coverings</li>
              <li>Doors</li>
            </ul>
            <a href="#">View more</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 
    MARK: FOOTER 
  -->
  <footer>
    <div class="container">
      <h2>HANSI Development Center Germany GmbH</h2>
      <address>
        Donnersbergweg 1<br/>
        67059 Ludwigshafen
      </address>
      <span>+49 (0)621 5957 6478</span>
      <a href="mailto:info@de-hansi.eu">info@de-hansi.eu</a>
      <div class="footer-social">
        <a href="#" target="_blank">
          <img src="./assets/icons/linkedin.svg" />
        </a>
        <a href="#" target="_blank">
          <img src="./assets/icons/instagram.svg" />
        </a>
      </div>
      <div class="footer-documents">
        <a href="#" target="_blank">Impressum</a>
        <a href="#" target="_blank">Privacy police</a>
      </div>
    </div>
  </footer>
</body>
</html>