:root {
  --color-brand: #015398;
}

/* 
  MARK: GENERAL
*/

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #202020;
  line-height: 1.6;
}

.button {
  display: flex;
  align-items: center;
  gap: 16px;
  width: fit-content;
  padding-block: 24px;
  padding-inline: 24px;
  border-radius: 4px;
  font-size: 1.25rem;
  color: #ffffff;
  text-decoration: none;
  background: var(--color-brand);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 71, 132, 1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 71, 132, 1);
  box-shadow: 0px 0px 20px 0px rgba(0, 71, 132, 1);
}

/* 
  MARK: GRID
*/

.container {
  width: 100%;
  max-width: 1248px;
  padding-inline: 16px;
  margin-inline: auto;
}

.section-spaced {
  padding-block: 54px;
}

/*
  MARK: TYPOGRAPHY
*/

.section-info {
  margin-block-end: 14px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-optical-sizing: auto;
  font-size: 20px;
  color: var(--color-brand);
}

[class^="text"] {
  font-size: 18px;
}

[class^="title"] {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-size: 30px;
  font-weight: 700;

  &::after {
    content: "";
    display: block;
    width: 52px;
    height: 4px;
    background-color: #fd4970;
  }

  &:has(+ [class^="text"]) {
    margin-block-end: 14px;
  }
}

/*
  MARK: CARDS LINK
*/
.card-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  max-width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin-block-start: 60px;

  &:not(:last-child) {
    margin-block-end: 60px;
  }
}

.card-link {
  display: flex;
  width: 100%;
  min-width: 196px;
  max-width: 196px;
  height: 290px;
  padding-block: 28px;
  padding-inline: 16px;
  border-radius: 10px;
  position: relative;
  color: #ffffff;
  overflow: hidden;
  scroll-snap-align: center;

  &::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    z-index: 0;
    background: #202020;
    opacity: 0.7;
  }

  &.is-application {
    .card-link-content {
      gap: 16px;

      a {
        margin-block-start: auto;
      }
    }
  }

  &.is-solution {
    .card-link-content {
      justify-content: flex-end;
      gap: 36px;
    }
  }
}

.card-link-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 1;

  h3,
  span {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  ul {
    list-style: disc;
    padding-inline-start: 14px;
    margin-inline-start: 4px;
    font-size: 0.875rem;
    line-height: 1.3;
  }

  a {
    display: flex;
    align-items: center;
    width: fit-content;
    padding-block: 8px;
    padding-inline: 16px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-size: 0.875rem;
    line-height: 1;
    color: #ffffff;
    text-decoration: none;
  }
}

.card-link-image {
  position: absolute;
  inset: 0;
  z-index: 0;
}

/*
  MARK: TABS
*/
.tabs {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  max-width: 100%;
  margin-block-start: 40px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  &:not(:last-child) {
    margin-block-end: 60px;
  }
}

.tabs-container {
  display: none;

  &:not(:last-child) {
    margin-block-end: 60px;
  }

  &[data-active="true"] {
    display: block;
  }
}

.tabs-container-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 24px;
  padding-inline: 24px;
  border-radius: 8px;
  background: #fcfcfc;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  &.is-single-element {
    margin-block-start: 24px;

    > * {
      @media (min-width: 768px) {
        width: none;
      }

      &:first-child {
        padding-block-end: 0px;

        @media (min-width: 768px) {
          padding-block-end: 0px;
          padding-inline-end: 0px;
        }
      }

      &:last-child {
        padding-block-start: 0px;
        border-block-start: 0px;

        @media (min-width: 768px) {
          padding-block-start: 0px;
          border-block-start: 0px;
          padding-inline-start: 0px;
          border-inline-start: 0px;
        }
      }
    }
  }

  > * {
    @media (min-width: 768px) {
      width: 100%;
      max-width: 50%;
    }

    &:first-child {
      padding-block-end: 24px;

      @media (min-width: 768px) {
        padding-block-end: 0px;
        padding-inline-end: 24px;
      }
    }

    &:last-child {
      padding-block-start: 24px;
      border-block-start: 1px solid #c8c8c8;

      @media (min-width: 768px) {
        padding-block-start: 0px;
        border-block-start: 0px;
        padding-inline-start: 24px;
        border-inline-start: 1px solid #c8c8c8;
      }
    }
  }

  strong {
    display: block;
    margin-block-end: 16px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.125rem;
    font-weight: 700;
  }

  ul {
    list-style: disc;
    padding-inline-start: 24px;
  }
}

.tabs-container-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  &:not(:last-child) {
    margin-block-end: 24px;
  }

  figure {
    width: 100%;
    max-width: 488px;
    border-radius: 8px;
    overflow: hidden;

    @media (min-width: 768px) {
      min-width: 488px;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}

.tabs-item {
  cursor: pointer;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.125rem;
  color: var(--_color-tabs, #9c9c9c);

  &[data-active="true"] {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    --_color-tabs: #202020;

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background: var(--color-brand);
    }
  }
}

/*
  MARK: HOME - TRUSTED SOLUTION
*/
.trusted-box {
  max-width: 524px;
  padding-block: 44px;
  padding-inline: 24px;
  border-radius: 0px 0px 100px 0px;
  margin-block-end: -200px;
  position: relative;
  z-index: 1;
  background: #ffffff;

  @media (min-width: 768px) {
    padding-block: 0px;
    padding-inline: 16px;
    border-radius: 0px;
    margin-block-end: 0px;
    margin-inline: auto;
  }
}

.trusted-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1369px;
  margin-inline: auto;
  margin-block-end: 32px;
  position: relative;
  overflow: hidden;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-block-end: 0px;
  }

  figure {
    width: 90%;
    width: 90dvw;
    max-width: 626px;
    margin-inline-start: auto;
  }
}

.trusted-text {
  font-size: 1.25rem;

  &:not(:last-child) {
    margin-block-end: 60px;
  }
}

.trusted-title {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;

  @media (min-width: 768px) {
    font-size: 3.125rem;
  }

  &:not(:last-child) {
    margin-block-end: 24px;
  }
}

/*
  MARK: HOME - FOCUS ON INOVATION
*/
.focus-box {
  max-width: 637px;
  padding-block: 40px;
  padding-inline: 40px 16px;
  border-radius: 76px 0px 0px 0px;
  position: relative;
  margin-block-start: -164px;
  z-index: 1;
  background: #fff;

  @media (min-width: 768px) {
    padding-block: 60px;
    padding-inline: 60px;
    border-radius: 110px 0px 0px 0px;
    margin-block-start: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.focus-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  max-width: 1369px;
  margin-inline: auto;
  position: relative;
  overflow: hidden;

  figure {
    max-height: 1038px;
    margin-inline-end: auto;
  }

  img {
    width: 100%;
    max-width: 480px;
    position: relative;
    left: -32px;

    @media (min-width: 768px) {
      max-width: 928px;
      z-index: 0;
    }
  }
}

.focus-list {
  font-size: 1.125rem;

  strong {
    font-weight: 700;
  }

  li {
    display: flex;
    align-items: center;
    gap: 32px;

    &:not(:last-child) {
      margin-block-end: 24px;
    }
  }

  svg {
    min-width: 32px;
    max-width: 32px;
  }
}

.focus-title {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;

  @media (min-width: 768px) {
    font-size: 3.125rem;
  }

  &:not(:last-child) {
    margin-block-end: 48px;
  }
}

/*
  MARK: HOME - OUR NUMBERS
*/
.our-numbers {
  padding-block: 60px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: #ffffff;
  background: var(--color-brand);

  .container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.our-numbers-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}

.our-numbers-info {
  font-size: 20px;
}

.our-numbers-number {
  font-size: 80px;
  line-height: 1;
}

/*
  MARK: FOOTER
*/

footer {
  padding-block: 60px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-weight: 400;
  background: #fcfcfc;

  h2 {
    margin-block-end: 16px;
    font-size: 1.25rem;
    font-weight: 700;
  }

  a {
    display: block;
  }
}

.footer-documents {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-block-start: 30px;

  a {
    color: #636363;
    text-decoration: underline;
  }
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-block-start: 16px;
}
