<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hansi - We create adhesive power</title>

  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./styles.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <script type="text/javascript" src="./scripts.js"></script>
</head>
<body>
  <section class="section-spaced">
    <!-- 
      MARK: TEAM 
    -->
    <div class="container">
      <span class="section-info">Who makes it happen</span>
      <h2 class="title">Meet out team</h2>
      <p class="text center">Meet the talented individuals behind Hansi. Our team is a diverse blend of expertise and passion. Together, we work collaboratively to turn ideas into reality and drive success. Get to know us - the driving force behind our innovation and dedication to excellence.</p>
      <div class="team-cards">
        <article class="team-card">
          <figure class="team-card-image">
            <img src="./assets/images/team-1.png" alt="">
          </figure>
          <h3 class="team-card-title">Pitter Lourence</h3>
          <p class="team-card-text">Director</p>
          <span class="team-card-divider"></span>
          <a class="team-card-link" href="#">
            <figure aria-hidden="true">
              <img src="./assets/icons/linkedin.svg" />
            </figure>
            visit
          </a>
        </article>
        <article class="team-card">
          <figure class="team-card-image">
            <img src="./assets/images/team-2.png" alt="">
          </figure>
          <h3 class="team-card-title">Mia Schneider</h3>
          <p class="team-card-text">Director</p>
          <span class="team-card-divider"></span>
          <a class="team-card-link" href="#">
            <figure aria-hidden="true">
              <img src="./assets/icons/linkedin.svg" />
            </figure>
            visit
          </a>
        </article>
        <article class="team-card">
          <figure class="team-card-image">
            <img src="./assets/images/team-3.png" alt="">
          </figure>
          <h3 class="team-card-title">Pitter Lourence</h3>
          <p class="team-card-text">Director</p>
          <span class="team-card-divider"></span>
          <a class="team-card-link" href="#">
            <figure aria-hidden="true">
              <img src="./assets/icons/linkedin.svg" />
            </figure>
            visit
          </a>
        </article>
        <article class="team-card">
          <figure class="team-card-image">
            <img src="./assets/images/team-4.png" alt="">
          </figure>
          <h3 class="team-card-title">Pitter Lourence</h3>
          <p class="team-card-text">Director</p>
          <span class="team-card-divider"></span>
          <a class="team-card-link" href="#">
            <figure aria-hidden="true">
              <img src="./assets/icons/linkedin.svg" />
            </figure>
            visit
          </a>
        </article>
        <article class="team-card">
          <figure class="team-card-image">
            <img src="./assets/images/team-5.png" alt="">
          </figure>
          <h3 class="team-card-title">Pitter Lourence</h3>
          <p class="team-card-text">Director</p>
          <span class="team-card-divider"></span>
          <a class="team-card-link" href="#">
            <figure aria-hidden="true">
              <img src="./assets/icons/linkedin.svg" />
            </figure>
            visit
          </a>
        </article>
        <article class="team-card">
          <figure class="team-card-image">
            <img src="./assets/images/team-6.png" alt="">
          </figure>
          <h3 class="team-card-title">Emma Schneider</h3>
          <p class="team-card-text">Director</p>
          <span class="team-card-divider"></span>
          <a class="team-card-link" href="#">
            <figure aria-hidden="true">
              <img src="./assets/icons/linkedin.svg" />
            </figure>
            visit
          </a>
        </article>
      </div>
    </div>
  </section>
  <section class="section-spaced">
    <!-- 
      MARK: JOBS 
    -->
    <div class="container">
      <span class="section-info">View our opening jobs</span>
      <h2 class="title">Join us</h2>
      <p class="text">We stand as the premier adhesive company, boasting an extensive array of top-notch products tailored to fulfill our customers' requirements. Backed by years of experience and relentless innovation, we are steadfast in delivering cutting-edge adhesive solutions that lead the market and propel our customers to success across diverse sectors and applications. Join our team today, and seize the opportunity to explore the full spectrum of professional openings available in our company. Join our team!</p>
      <div class="job-cards">
        <article class="job-card">
          <h3 class="job-card-title">Manager Operations</h3>
          <p class="job-card-text">Germany</p>
          <div>
            <a class="job-card-link" href="#">
              Apply
              <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.687 10.187C4.56929 10.0693 4.50765 9.91951 4.50209 9.7376C4.49695 9.55568 4.55324 9.40587 4.67095 9.28816L7.81701 6.14209H0.642055C0.460139 6.14209 0.307544 6.08045 0.18427 5.95718C0.0614233 5.83433 0 5.68195 0 5.50004C0 5.31812 0.0614233 5.16553 0.18427 5.04225C0.307544 4.91941 0.460139 4.85798 0.642055 4.85798H7.81701L4.67095 1.71192C4.55324 1.59421 4.49695 1.44439 4.50209 1.26248C4.50765 1.08056 4.56929 0.930749 4.687 0.813039C4.80471 0.695329 4.95452 0.636475 5.13644 0.636475C5.31835 0.636475 5.46816 0.695329 5.58587 0.813039L9.82343 5.0506C9.88764 5.1041 9.93323 5.17088 9.96019 5.25092C9.98673 5.33139 10 5.41443 10 5.50004C10 5.58565 9.98673 5.6659 9.96019 5.74081C9.93323 5.81571 9.88764 5.88527 9.82343 5.94948L5.58587 10.187C5.46816 10.3047 5.31835 10.3636 5.13644 10.3636C4.95452 10.3636 4.80471 10.3047 4.687 10.187Z" fill="#015398"/>
              </svg>                 
            </a>
          </div>
        </article>
        <article class="job-card">
          <h3 class="job-card-title">Manager Operations</h3>
          <p class="job-card-text">Germany</p>
          <div>
            <a class="job-card-link" href="#">
              Apply
              <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.687 10.187C4.56929 10.0693 4.50765 9.91951 4.50209 9.7376C4.49695 9.55568 4.55324 9.40587 4.67095 9.28816L7.81701 6.14209H0.642055C0.460139 6.14209 0.307544 6.08045 0.18427 5.95718C0.0614233 5.83433 0 5.68195 0 5.50004C0 5.31812 0.0614233 5.16553 0.18427 5.04225C0.307544 4.91941 0.460139 4.85798 0.642055 4.85798H7.81701L4.67095 1.71192C4.55324 1.59421 4.49695 1.44439 4.50209 1.26248C4.50765 1.08056 4.56929 0.930749 4.687 0.813039C4.80471 0.695329 4.95452 0.636475 5.13644 0.636475C5.31835 0.636475 5.46816 0.695329 5.58587 0.813039L9.82343 5.0506C9.88764 5.1041 9.93323 5.17088 9.96019 5.25092C9.98673 5.33139 10 5.41443 10 5.50004C10 5.58565 9.98673 5.6659 9.96019 5.74081C9.93323 5.81571 9.88764 5.88527 9.82343 5.94948L5.58587 10.187C5.46816 10.3047 5.31835 10.3636 5.13644 10.3636C4.95452 10.3636 4.80471 10.3047 4.687 10.187Z" fill="#015398"/>
              </svg>      
            </a>
          </div>
        </article>
        <article class="job-card">
          <h3 class="job-card-title">R&D Scientist</h3>
          <p class="job-card-text">Germany</p>
          <div>
            <a class="job-card-link" href="#">
              Apply
              <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.687 10.187C4.56929 10.0693 4.50765 9.91951 4.50209 9.7376C4.49695 9.55568 4.55324 9.40587 4.67095 9.28816L7.81701 6.14209H0.642055C0.460139 6.14209 0.307544 6.08045 0.18427 5.95718C0.0614233 5.83433 0 5.68195 0 5.50004C0 5.31812 0.0614233 5.16553 0.18427 5.04225C0.307544 4.91941 0.460139 4.85798 0.642055 4.85798H7.81701L4.67095 1.71192C4.55324 1.59421 4.49695 1.44439 4.50209 1.26248C4.50765 1.08056 4.56929 0.930749 4.687 0.813039C4.80471 0.695329 4.95452 0.636475 5.13644 0.636475C5.31835 0.636475 5.46816 0.695329 5.58587 0.813039L9.82343 5.0506C9.88764 5.1041 9.93323 5.17088 9.96019 5.25092C9.98673 5.33139 10 5.41443 10 5.50004C10 5.58565 9.98673 5.6659 9.96019 5.74081C9.93323 5.81571 9.88764 5.88527 9.82343 5.94948L5.58587 10.187C5.46816 10.3047 5.31835 10.3636 5.13644 10.3636C4.95452 10.3636 4.80471 10.3047 4.687 10.187Z" fill="#015398"/>
              </svg>      
            </a>
          </div>
        </article>
        <article class="job-card">
          <h3 class="job-card-title">R&D Scientist</h3>
          <p class="job-card-text">Germany</p>
          <div>
            <a class="job-card-link" href="#">
              Apply
              <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.687 10.187C4.56929 10.0693 4.50765 9.91951 4.50209 9.7376C4.49695 9.55568 4.55324 9.40587 4.67095 9.28816L7.81701 6.14209H0.642055C0.460139 6.14209 0.307544 6.08045 0.18427 5.95718C0.0614233 5.83433 0 5.68195 0 5.50004C0 5.31812 0.0614233 5.16553 0.18427 5.04225C0.307544 4.91941 0.460139 4.85798 0.642055 4.85798H7.81701L4.67095 1.71192C4.55324 1.59421 4.49695 1.44439 4.50209 1.26248C4.50765 1.08056 4.56929 0.930749 4.687 0.813039C4.80471 0.695329 4.95452 0.636475 5.13644 0.636475C5.31835 0.636475 5.46816 0.695329 5.58587 0.813039L9.82343 5.0506C9.88764 5.1041 9.93323 5.17088 9.96019 5.25092C9.98673 5.33139 10 5.41443 10 5.50004C10 5.58565 9.98673 5.6659 9.96019 5.74081C9.93323 5.81571 9.88764 5.88527 9.82343 5.94948L5.58587 10.187C5.46816 10.3047 5.31835 10.3636 5.13644 10.3636C4.95452 10.3636 4.80471 10.3047 4.687 10.187Z" fill="#015398"/>
              </svg>      
            </a>
          </div>
        </article>
      </div>
    </div>
  </section>

  <!-- 
    MARK: FOOTER 
  -->
  <footer>
    <div class="container">
      <h2>HANSI Development Center Germany GmbH</h2>
      <address>
        Donnersbergweg 1<br/>
        67059 Ludwigshafen
      </address>
      <span>+49 (0)621 5957 6478</span>
      <a href="mailto:info@de-hansi.eu">info@de-hansi.eu</a>
      <div class="footer-social">
        <a href="#" target="_blank">
          <img src="./assets/icons/linkedin.svg" />
        </a>
        <a href="#" target="_blank">
          <img src="./assets/icons/instagram.svg" />
        </a>
      </div>
      <div class="footer-documents">
        <a href="#" target="_blank">Impressum</a>
        <a href="#" target="_blank">Privacy police</a>
      </div>
    </div>
  </footer>
</body>
</html>